section#about-us {
    min-height: 110vh;
    width: 100%;
    background-color: #242434;
    color: white;
}

section#about-us .about-us-header {
    background-image: linear-gradient(to left, #267B00, #123C00 );
    padding: 2rem 0;
}

section#about-us .about-us-header .title {
    display: flex;
    min-height: 260px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
}

section#about-us .about-us-header img {
    max-width: 200px;
}

section#about-us .about-us-header h2 {
    text-transform: uppercase;
    text-align: center;
    max-width: 40%;
    color: white;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Oswald-ExtraLight';
}

section#about-us .about-us-details {
    width: 100%;
    height: calc(100% - 260px);
    padding-bottom: 10rem;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section#about-us .about-us-details .container-details {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#about-us .about-us-details .container-details .detail {
    padding: 5rem 0;
    height: 31vw;
    width: 33%;
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: green;
    border-radius: 50%;
}

section#about-us .about-us-details .container-details .detail h2 {
    margin-top: 4rem;
    width: 80%;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Nasalization';
    font-weight: 400;
}

section#about-us .about-us-details .container-details .detail p {
    font-size: 2.1rem;
    letter-spacing: 1px;
    font-family: 'Oswald-ExtraLight';
    color: white;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
}

section#about-us .about-us-details .container-details .about-us-description {
    background-color: #436F2F;
    order: 1;
}

section#about-us .about-us-details .container-details .our-values {
    background-color: #407A26;
    margin-left: -4rem;
    order: 2;
}

section#about-us .about-us-details .container-details .our-mission {
    margin-left: -4rem;
    background-color: #459022;
    order: 3;
}

@media (max-width: 1656px) {
    section#about-us .about-us-header .title {
        width: 60%;
    }    

    section#about-us .about-us-header h2 {
        max-width: 60%;
    }
}

@media (max-width: 1250px) {
    section#about-us .about-us-details .container-details .detail {
        height: 32vw;
    }
    section#about-us .about-us-details .container-details .detail p {
        font-size: 1.7rem;
        width: 80%;
    }
}

@media (max-width: 1050px) {
    section#about-us .about-us-details .container-details {
        flex-direction: column;
    }

    section#about-us .about-us-details .container-details .detail {
        margin-top: 5rem;
    }
    
    section#about-us .about-us-details .container-details .detail h2 {
        margin-top: 0rem;
    } 

    section#about-us .about-us-details .container-details .detail, 
    section#about-us .about-us-details .container-details .detail .about-us-description,
    section#about-us .about-us-details .container-details .detail .our-values,
    section#about-us .about-us-details .container-details .detail .our-mission {
        margin-left: 0;
        margin-right: 0;
        width: 380px;
        height: 330px;       
    }

    section#about-us .about-us-header .title {
        width: 80%;
    }    

    section#about-us .about-us-header h2 {
        max-width: 60%;
    }
}

@media (max-width: 600px) {
    section#about-us .about-us-header .title {
        min-height: 150px;
        padding: 1.5rem 0;
    }

    section#about-us .about-us-header h2 {
        font-size: 4rem;
    }

    section#about-us .about-us-header img {
        max-width: 110px;
    }
}

@media (max-width: 450px) {
    section#about-us .about-us-details .container-details .detail, 
    section#about-us .about-us-details .container-details .detail .about-us-description,
    section#about-us .about-us-details .container-details .detail .our-values,
    section#about-us .about-us-details .container-details .detail .our-mission {
        margin-left: 0;
        margin-right: 0;
        width: 310px;
        height: 260px;       
    }
 
    section#about-us .about-us-details .container-details .detail p {
        font-size: 1.9rem;
    }
}