#landing-page .header nav {
    min-width: 20%;
}

#landing-page .header {
    background-color: #1EEC58;
    color: white;
}

#landing-page .header .logo {
    font-family: Nasalization;
}

#landing-page .header nav ul li a {
    color: white;
}

#landing-page .header#unactivated {
    animation: scrollUpHeader .8s normal forwards;
}

#landing-page .header#actived {
    animation: scrollDownHeader .8s normal forwards;
}

@keyframes scrollUpHeader {
    0% {
        position: fixed;
        top: 0px;
    }
    
    90% {
        position: fixed;
        top: -15rem;
    }

    100% {
        position: sticky;
    }
}

@keyframes scrollDownHeader {
    0% {  
        position: sticky;
    }

    10% {
        position: fixed;
        top: -15rem;
    }

    100% {
        position: fixed;
        top: 0;
    }
}