.hero {
    min-height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    max-width: 45vw;
    max-height: calc(100vh - 10rem);
}

.hero .section-text h1 {
    font-weight: 700;
    font-size: 10rem;
    line-height: 11.719rem;
    color: var(--color-title);
}

.hero .section-text p {
    font-size: 5.5rem;
    line-height: 6.445rem;
    font-weight: 400;
    color: var(--color-text);
}

@media (max-width: 700px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero.right {
        flex-direction: column;
    }

    .hero img {
        max-width: 100%;
        max-height: calc(50vh - 10rem);
    }
}