.enterprise-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    background-color: #242434;
    margin-bottom: 0;
}

.enterprise-footer h2 {
    font-family: Nasalization;
    font-weight: 400;
    font-size: 3rem;
}

.enterprise-footer p {
    color: white;
}

.enterprise-footer .our-priorities {
    width: 32%;
    min-width: 320px;
    font-size: 1.7rem;
    padding: 4rem 6rem;
    background-image: linear-gradient(to left,#42702E, #4F8735);
}

.enterprise-footer .our-priorities .title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.enterprise-footer .our-priorities .title img {
    max-width: 85px;
}

.enterprise-footer .our-priorities .title h2 {
    width: 60%;
    margin: auto;
    text-align: left;
    border-left: 1px solid white;
    padding-left: 2rem;
}

.enterprise-footer .our-priorities p {
    text-align: justify;
}

.enterprise-footer .projects {
    width: 20%;
    padding-left: 6rem;
    min-width: 320px;
}

.enterprise-footer .projects .project:first-child {
    margin-top: 1rem;
}

.enterprise-footer .projects .project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.enterprise-footer .projects .project h3 {
    font-family: 'Oswald-Light';
    font-weight: 400;
}

.enterprise-footer .projects .project .img {
    width: 40px;
    height: 40px;
    background-color: #CACACA;
    margin-right: 10px;
}

.enterprise-footer .fast-links {
    width: 48%;
    padding-bottom: 4.2rem;
    text-align: left;
    margin-left: 2rem;
}

.enterprise-footer .fast-links h2 {
    width: 100%;
}

.enterprise-footer .fast-links ul {
    margin-bottom: 0;
}

.enterprise-footer .fast-links ul li {
    font-family: Oswald-Light;
    list-style-type: square;
    list-style-position: inside;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-left: 0.4rem;
}

@media (max-width: 1200px) {
    .enterprise-footer .our-priorities {
        padding: 4rem 4rem;
    }

    .enterprise-footer .projects {
        width: 30%;
    }

    .enterprise-footer .fast-links {
        width: 38%;
    }
}

@media (max-width: 850px) {
    .enterprise-footer {
        flex-wrap: wrap;
    }
    .enterprise-footer .our-priorities {
        width: 100%;
        padding: 4rem 4rem;
        margin-bottom: 5rem;
    }

    .enterprise-footer .projects {
        width: 40%;
        margin-bottom: 5rem;
        padding-top: 3rem;
    }

    .enterprise-footer .fast-links {
        padding-bottom: 8rem;
        width: 40%;
        
    }
}

@media (max-width: 540px) {
    .enterprise-footer .projects {
        width: 100%;
        margin-bottom: 8rem;
        margin-top: 5rem;
        padding: 0;
        text-align: center;
    }

    .enterprise-footer .projects .project {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }

    .enterprise-footer .fast-links {
        padding-bottom: 0rem;
        margin-left: 0;
        margin-bottom: 7rem;
        width: 100%;
        text-align: center;
    }

    .enterprise-footer .fast-links ul li {
        margin-left: 0;
    }
}