.header {
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 3rem 2.5rem;
    
    z-index: 2;
    min-height: 70px;
    height: 10rem;
    left: 0px;
    right: 0px;
    top: 0px;
}

.header .logo {
    min-width: 30px;
    max-width: 4%;
    border-radius: 10px;
}

.header .logo img {
    width: 100%;
}

.header a {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.1rem;
}

.header nav {
    min-width: 365px;
    max-width: 40%;
}

.header ul {
    display: flex;
    width: 100%;
    max-width: 365px;
    justify-content: space-around;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {        
    .header {
        position: relative;
    }

    .header nav {
        min-width: 265px;
    }

    .header ul {
        max-width: 265px;
    }
    
    .menu-icon {
        height: 30px;
        width: 30px;
        display: block;
    }
    
    .menu-icon .one,
    .menu-icon .two,
    .menu-icon .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        border-radius: 6px;
        transition-duration: .4s;
    }

    .menu-icon {
        position: absolute;
        right: 5rem;
        top: 2rem;
    }

    .menu-icon.on .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    
    .menu-icon.on .two {
        opacity: 0;
    }
    
    .menu-icon.on .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70px;
        height: fit-content;
        background-color: rgb(1, 209, 60);
        position: absolute;
        width: 100vw;
        padding-top: 4rem;
        z-index: -100;
        transition: 0.8s;
        left: 0;
        top: 100%;
        animation: fadeOut .3s linear forwards;
    }

    .nav-menu ul {
        width: 40%;
        padding: 2rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        visibility: inherit;
        display: flex;
    }

    .nav-menu ul li {
        margin: 1rem auto;
        padding-bottom: 6px;
        padding-left: 2px;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.223);
        visibility: inherit;
        display: inherit;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70px;
        height: fit-content;
        background-color: rgb(1, 209, 60);
        visibility: visible;
        animation: fadeIn 0.5s linear forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0.02;
        visibility: visible;
        display: flex;
    }
    
    100% {
        opacity: 1;
        
    }


}

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: flex;
        visibility: visible;
    }
    
    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}