header {
    width: 100vw;
    background-color: #1EEC58;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 3rem 2.5rem;
    
    position: fixed;
    max-height: 10rem;
    left: 0px;
    right: 0px;
    top: 0px;
}

header .logo {
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
}

header a {
    font-weight: 700;
    font-size: 25px;
    line-height: 2.1rem;
    color: white;
}

header ul {
    display: flex;
    min-width: 38.1rem;
    justify-content: space-around;
}