.productSection-wrapper {
    width: 100%;
    max-width: 1300px;
    min-height: 550px;
    padding: 0 5rem;
    background: #161722;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productSection-wrapper .col {
    width: calc(50% - 5rem);
    min-height: 100%;
    display: flex;
}

.productSection-wrapper .flex-col {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.productSection-wrapper .primary-title {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.productSection-wrapper .primary-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 38px;
    text-align: justify;

    color: #C1C1C1;
}

.productSection-wrapper .primary-btn {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 10px;

    background: #1EEC58;
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.productSection-wrapper .col img {
    width: 400px;
    height: 400px;
}

@media (max-width: 1000px) {
    .productSection-wrapper {
        flex-direction: column-reverse;
        padding: 7rem;
    }

    .productSection-wrapper .col {
        width: 100%;
        min-height: 400px;    
        margin: 3rem 0;
    }

    .productSection-wrapper .col.automate {
        padding: 0 20%;
    }
}

@media (max-width: 600px) {
    .productSection-wrapper .col img {
        width: 300px;
        height: 300px;
    }

    .productSection-wrapper .col.automate {
        padding: 0;
    }
}