@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
body {
  margin: 0;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}